<div class="container">
  <div class="row row-header">
    <div class="col-md-12">
      <h1>Rhymebin</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-5">
      <div id="editor">Roses are red,
Violets are blue
I smell like lead
And so does glue.</div>
    </div>
    <div class="col-md-4">

        <p>Use <strong>CTRL + E</strong> to select the word to rhyme to.</p>
        <p>Press <strong>CTRL + SPACE</strong> to list possible rhymes for that word.</p>

    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <form name="form" class="form-horizontal" role="form" novalidate>
        <fieldset>

          <div class="form-group">
            <div class="col-xs-3">
              <label >Exposure:</label>
              <select class="form-control" >
                <option>Public</option>
                <option>Unlisted</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-9">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>

<!-- footer -->
<div class="container">
  <hr>
  <footer>
    <div class="row">
      <div class="col-md-6">
        <p>© Rhymebin 2015</p>
      </div>
      <div class="col-md-6">
        <a class="pull-right" href="/about">
          About
        </a>
      </div>
    </div>
  </footer>
</div>